---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/pages/panda.css">
        <title>Panda</title>
    </head>
    <body>
        <div class="panda">
            <div class="heard">
                <div class="ear right">
                    <div class="pink right"></div>
                </div>
                <div class="ear left">
                    <div class="pink left"></div>
                </div>
                <div class="eye right">
                    <div class="eye white"></div>
                </div>
                <div class="eye left">
                    <div class="eye white"></div>
                </div>
                <div class="nose"></div>
                <div class="mounth"></div>
                <div class="cheek right"></div>
                <div class="cheek left"></div>
            </div>
            <div class="cuerpo">
                <div class="lomo"></div>
                <div class="paw right">
                    <div class="claws right"></div>
                </div>
                <div class="paw left">
                    <div class="claws left"></div>
                </div>
                <div class="paw back-right">
                    <div class="claws back-right"></div>
                </div>
                <div class="paw back-left">
                    <div class="claws back-left"></div>
                </div>
            </div>
        </div>
    </body>
</html>