---
import Layout from '../layouts/Layout.astro';
---
<link rel="stylesheet" href="/src/style/global.css">
<Layout title="Sobre mí"></Layout>
  <main>
    <h1>Acerca de Diana Arisbeth</h1>
    <p>
      <li>Mi nombre es Diana Arisbeth M. G.</li>
      <li>Naci el 4 de junio de 2005 en el Estado de Mexico.</li>
      <li>Provengo de una familia integrada por mis padres y cuatro hermanos.</li>
      <li>Soy la mayor de ellos, con dos hermanas y dos hermanos.</li>
    </p>

    <p>
      <li>Ingrese a una guarderia desde los 2 años debido a cambios en la dinamica familiar,
      lo que llevo a que mi madre comenzara a trabajar.</li>
      Durante la educacion primaria se presentaron dificultades de convivencia en segundo año, 
      <li>lo que derivo en un cambio de escuela.
      En la secundaria forme parte de la escolta, a pesar de mantener un promedio academico regular.</li>
      <li>Al concluir esta etapa, tome un año sabatico tras no haber sido seleccionada en mi primer intento 
      de ingreso a la preparatoria.</li>
      <li>Actualmente curso la carrera de Ingenieria en Computacion en la UNAM.</li>
    </p>
  </main>