body{
    background-color: black;
    color: white;
}
.box{
    width: 400px;
    height: 200px;
    margin: 20px;
    background-color: #f69;
    background-image: url("https://d80g3k8vowjyp.cloudfront.net/img/elefante_africano_100750.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

h2{
    text-align: center;
}