---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>SELECTORES</title>
    
    <link rel="stylesheet" href="/src/pages/styles.css">
    
  	</head>
	<body>
		<header class="Cabecera">
		<h1>PAGINA INFANTIL</h1>
		</header>

		<h2>Trabalenguas</h2>
		<h3>Pepe pecas</h3>
		<p>
			El <strong> rey </strong> de Parangaricutirimícuaro se quiere desparangaricutirimicuarizar;
			el que lo desparangaricutirimicuarice, 
			un buen desparangaricutirimicuarizador será
		</p>

		<h2>Fabula</h2>
		<h3>La zorra y las uvas</h3>

		<p class="Fabula">
			Una zorra hambrienta vio unos racimos de uvas maduras y deliciosas colgando de una parra muy alta. 
			Intentó saltar para alcanzarlas una y otra vez, pero estaban demasiado altas. 
			Cansada y al ver que unos pájaros la observaban, fingió desinterés diciendo: 
			"Bah, en realidad están verdes", y se alejó con orgullo, 
			perdiéndose la oportunidad de disfrutar lo que no pudo conseguir. 
		</p>

		<a href="https://arbolabc.com/">Pagina educativa</a>
		
		<div class="contenedores">
		<div class="Tarjeta">Tarjeta</div>
		<div class="Membresia">Membresia</div>
		<div class="Regalo">Regalo Sorpresa</div>

		</div>
		</body>
</html>