---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Proyectos"></Layout>
  <main>
    <h1>SOY UNA CREADORA DE PAGINAS WEB</h1>
    <p>Estoy aprendiendo a desarrollar paginas web</p>
    <p>
      <li>Comienzo aprendiendo a crear barras de navegacion, creacion de titulos</li>
      <li>aprender a agregar imagenes, estilos y darle soporte a una pagina ya existente</li>
    </p>
  </main>
