---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/src/pages/sombras.css">
        <title>Sombras</title>
    </head>
    <body>
        <div class="box"></div>
    </body>
</html>